
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.page_break {
    page-break-after: always;
}

/*---------------------introView----------------------*/ 

.heading_container {
    text-align: center;
    font-size: 38px;
    padding: 200px 100px 0px 100px;
}

h1 {
    font-size: 38px;
    font-weight: bolder;
    padding: 15px 0px 15px 0px;
    
}

.intro_container {
    padding: 0px 45px 50px 45px;
    font-size: 13px;
}

.intro_name_mail_grid {
    display: grid;
}