body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0 25px;
    background-color:#009ee3;
    background-image: url("../img/muster-modulist.png");
    background-size: 50px;
    background-repeat: repeat;
}

@font-face {
    font-family: 'Source Sans Pro',sans-serif;
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-family: 'Source Sans Bold',sans-serif;
    src: url('../fonts/SourceSansPro-Bold.ttf');
}

/*------------------------headings------------------------*/

h1 {
    padding: 15px 0 15px 50px;
    color: white;
    background-color: #E5004B;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
}

h2 {
    width: 100%;
}

h3 {
    width: 100%;
    margin: 10px 0 10px 25px;
    padding: 5px 15px;
    background-color: #808080;
    color: #fff;
}

h4 {
    width: 100%;
    margin: 10px 0 0 25px;
    padding: 5px 15px;
    background-color: #808080;
    color: #fff;
}

/*-------------------general content-------------------*/

.button {
    display: block;
    padding: 10px 5px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Source Sans Bold',sans-serif;
    font-size: large;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

.button:hover {
    color: #fff;
    background-color: #09497D;
    cursor: pointer;
}


.invisible {
    display: none !important; 
}

/*------------------------navbar------------------------*/

.navbar {
    width: 100%;
    background-color: #009ee3;
}

.navbar_container {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding: 0;
}

.navbar_entry {
    display: inline;
    width: auto;
    margin: 5px;
    padding: 5px;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: large;
    font-weight: 700;
    color: #fff;
    /* border-right: 2px solid white; */
}

.navbar_entry:nth-last-child(1) {
    border-right: none;
}

.navbar_entry:hover {
    color: #09497D;
    cursor: pointer;
}

.navbar_entry > a {
    padding: 8px;
}

.navbar_entry > a:link {
    color: #fff;
    text-decoration: none;
}
.navbar_entry > a:visited {
    color: #fff;

}
.navbar_entry > a:hover {
    color: #09497D;

}
.navbar_entry > a:active {
    color: #09497D;

}

/*------------------------notice------------------------*/

.service_notice {
    width: auto;
    margin: 30px 0;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    font-weight: 600;
}

.service_notice--success {
    border: 3px solid #00C927;
    background-color: #ccffd6;
}

.service_notice--failure {
    border: 3px solid #E5004B;
    background-color: #FDD0DF;
}

/*------------------------message------------------------*/

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.message_container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    min-width: 250px;
    padding: 10px;
    border: 8px solid #09497D;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 600;
    text-align: center;
    z-index: 100;
}

.message_button_container > form {
    display: inline;
}

.message_button_container {
    margin: 20px 5px 5px;
}

.message_button{
    display: inline;
}

.message_form {
    display: inline;
}

/*------------------------form------------------------*/

.form_container {
    width: auto;
    display: flex;
    margin: 0;
    padding: 0 30px 0 15px;
    border: 2px solid #000;
    border-radius: 10px;
    flex-flow: row wrap;
    align-items: flex-end;
    background-color: #fff;
}

.form_container h2 {
    width: 100%;
    margin: 10px 0 0 25px;
    padding: 5px 15px;
    background-color: #808080;
    color: white;
}

.form_group_container {
    
}

.form_group {
    display: flex;
    flex-flow: row wrap;
}


.form_item {
    display: block;
    width: 400px;
    min-height: 50px;
    flex-grow: 2;
    margin: 0 25px;
    align-self: flex-start;
}

.form_label {
    display: block;
    width: calc(100% - 30px); /* substract the padding width (so that columns remain at 400px)  */
    padding: 10px 15px;
    margin: 20px 0 15px 0;
    background-color: #c0c0c0;
    font-weight: 600;
}

.form_input {
    display: block;
    height: 20px;
    width: calc(100% - 23px); /* substract the padding width and input border (so that columns remain at 400px) */
    margin-left: 15px; 
}

.form_editor {
    width: 400px;
}

.tox-tinymce {
    margin-left: 15px;
}

.form_select {
    height: 26px;
    width: calc(100% - 15px); /* subtract the margin width (so that columns remain at 400px)  */
    margin: 0 0 5px 15px; 
}

.form_add_button {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px calc(100% - 90px);
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/plusIcon_1.svg');
    background-size: cover;
}

.form_add_button--on_entry {
    margin: 5px 5px 5px calc(100% - 15px);
}

.form_add_button:hover {
    background-image: url('../img/plusHoverIcon.svg');
    background-size: cover;
    transition: ease;
    transition-duration: 0.3s;
}


.form_delete_button {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/minusIcon.svg');
    background-size: cover;
}

.form_delete_button--on_entry {
    margin: -15px !important;
}

.form_delete_button:hover {
    background-image: url('../img/minusHoverIcon.svg');
    background-size: cover;
    transition: ease;
    transition-duration: 0.3s;
}

.form_radio_entry {
    margin-left: 15px;
}

.mandatory_notice {
    width: calc(100% - 325px);
    margin: 20px 0 40px 25px;
}

.form_submit {
    width: 200px;
    align-self: flex-end;
    margin: 25px;
}

/*------------------------table------------------------*/ 

table {
    width: 100%;
    border-collapse: collapse;
}

.table_container {
    width: auto;
    margin: 30px 0;
    border: 2px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-flow: row wrap;
    align-items: flex-end;
    background-color: #fff;
}

.table_container_header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: #808080;
    color: white;
}

.table_container h2 {
    display: inline-block;
    width: unset;
    padding: 0 25px;
}

.table_add_button {
    display: inline-block;
    align-self: center;
    position: absolute;
    right: 50px;
    width: 30px;
    height: 30px;
    margin: 20px 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/plusIcon_1.svg');
    background-size: cover;
}
.table_add_button:hover {
    background-image: url('../img/plusHoverIcon.svg');
    background-size: cover;
    transition: ease;
    transition-duration: 0.3s;
}


th {
    padding: 5px;
}

td {
    text-align: center;
    padding-left: 3px;
}

.table_locked_row {
    background-color: rgba(0,0,0,0.2);
}

.table_row_functions {
    display: flex;
    justify-content: center;
}

.table_edit_button {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/editIcon_1.svg');
    background-size: cover;
}
.table_edit_button:hover {
    background-image: url('../img/editHoverIcon.svg');
    background-size: cover;
    transition: ease;
    transition-duration: 0.3s;
}

.table_delete_button {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/abortIcon_1.svg');
    background-size: cover;
}
.table_delete_button:hover {
    background-image: url('../img/abortHoverIcon.svg');
    background-size: cover;
    transition: ease;
    transition-duration: 0.3s;
}

.table_lock_button {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/lockedIcon.svg');
    background-size: cover;
}

.table_lock_button:hover {
    background-image: url('../img/unlockedHoverIcon.svg');
}

.table_unlock_button {
    display: inline-block;
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-image: url('../img/unlockedIcon.svg');
    background-size: cover;
}

.table_unlock_button:hover {
    background-image: url('../img/lockedHoverIcon.svg');
}

/*------------------------studymanagement------------------------*/

.course_container,
.field_container {
    margin: 30px 0;
    border: 2px solid #000;
    background-color: #fff;
}

.course_container_header,
.field_container_header {
    display: flex;
    width: auto;
    margin-bottom: 10px;
    padding: 0 25px;
    flex-flow: row nowrap;
    align-items: stretch;
    background-color: #808080;
}

.course_container h2,
.field_container h2 { 
    display: inline-block;
    width: calc(100% - 100px);
    padding: 0 25px;
    background-color: #808080;
    color: white;
}

.course_form_container,
.field_form_container {
    width: auto;
    display: flex;
    margin-bottom: 15px;
    padding: 0 25px;
    border-bottom: 2px solid #000;
    flex-flow: row wrap;
    align-items: flex-end;
    background-color: #fff;
}

/*------------------------export------------------------*/
.export_module_manual_container,
.export_study_schedule_container,
.export_exam_schedules_container {
    margin: 30px 0;
    border: 2px solid #000;
    background-color: #fff;
}

.module_manual_container_header,
.study_schedule_container_header,
.exam_schedules_container_header {
    display: flex;
    width: auto;
    margin-bottom: 10px;
    padding: 0 25px;
    flex-flow: row nowrap;
    align-items: stretch;
    background-color: #808080;
}

.module_manual_container_header h2,
.study_schedule_container_header h2,
.exam_schedules_container_header h2 { 
    display: inline-block;
    width: calc(100% - 100px);
    padding: 0 25px;
    background-color: #808080;
    color: white;
}

.export_form_container {
    width: auto;
    display: flex;
    margin-bottom: 15px;
    padding: 0 25px;
    flex-flow: row wrap;
    align-items: flex-end;
    background-color: #fff;
}

.export_notice {
    width: 100%;
    margin: 0 25px;
    padding: 10px;
    border: 2px solid #000;
    text-align: center;
    background-color: #ECE5C6;
}